<p>This line has a <a href="#">link here.</a></p>
<p><strong>This line rendered as bold text, and indicates importance.</strong></p>
<p><em>This line rendered as italicized text, and indicates emphasis.</em></p>
<p>The <b>b element</b> does not have any special importance, particularly for screen readers.</p>
<p>The <i>i element</i> does not have any special importance, particularly for screen readers.</p>
<p><u>This line of text will render as underlined</u></p>
<p><del>This line of text is meant to be treated as deleted text.</del></p>
<p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
<p><s>This line of text is meant to be treated as no longer accurate.</s></p>
<p>This line of text has a word that uses <sup>superscript</sup>.</p>
<p>This line of text has a word that uses <sub>subscript</sub>.</p>
<p><small>This line of text is meant to be treated as fine print.</small></p>
<p>This line of text has an abbreviated word <abbr title="Cascading Style Sheets">CSS</abbr>.</p>
<p>This line of text has some keyboard input <kbd>cd</kbd> and <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>.</p>
<p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This line of text is a short inline quotation</q></p>
<p><cite>This line of text is a citation.</cite></p>
<p>The <dfn>dfn element</dfn> indicates a definition.</p>
<p>You can use the mark tag to <mark>highlight</mark> text.</p>
<p>For example, <code>&lt;section&gt;</code> should be wrapped as inline code.</p>
<p><samp>This text is meant to be treated as sample output from a computer program.</samp></p>
<p>This line of text has an equation with variables <var>y</var> = <var>m</var><var>x</var> + <var>b</var></p>
